._*
*.mode1v3
*.pbxuser
*.perspectivev3
*.user
*.ncb
*.suo
*.ilk
*.pch
*.pdb
*.dep
*.idb
*.manifest
*.manifest.res
*.o
*.d
*.sdf
xcuserdata
*.xccheckout
contents.xcworkspacedata
.DS_Store
.svn
profile
/MacOSX/build
/Linux/build
/Builds/VisualStudio2005/Debug
/Builds/VisualStudio2005/Release
/Builds/VisualStudio2008/Debug
/Builds/VisualStudio2008/Release
/Builds/VisualStudio2010/Debug
/Builds/VisualStudio2010/Release
/Builds/VisualStudio2012/Debug
/Builds/VisualStudio2012/Release
/Builds/VisualStudio2013/Debug
/Builds/VisualStudio2013/Release
/Android/bin
/Android/libs
/Android/gen
/Android/obj
/iOS/build
/CodeBlocks/bin
/CodeBlocks/obj
/CodeBlocks/*.depend
/CodeBlocks/*.layout
/Builds/MacOSX/build
/Builds/Linux/build
/Builds/VisualStudio2005/Debug
/Builds/VisualStudio2005/Release
/Builds/VisualStudio2008/Debug
/Builds/VisualStudio2008/Release
/Builds/VisualStudio2010/Debug
/Builds/VisualStudio2010/Release
/Builds/VisualStudio2012/Debug
/Builds/VisualStudio2012/Release
/Builds/VisualStudio2013/Debug
/Builds/VisualStudio2013/Release
/Builds/CodeBlocks/bin
/Builds/CodeBlocks/obj
/Builds/CodeBlocks/*.depend
/Builds/CodeBlocks/*.layout
/Builds/MacOSX/build
/Builds/Linux/build
/Builds/VisualStudio2005/Debug
/Builds/VisualStudio2005/Release
/Builds/VisualStudio2008/Debug
/Builds/VisualStudio2008/Release
/Builds/VisualStudio2010/Debug
/Builds/VisualStudio2010/Release
/Builds/VisualStudio2012/Debug
/Builds/VisualStudio2012/Release
/Builds/VisualStudio2013/Debug
/Builds/VisualStudio2013/Release

